.images{
    
    display: flex;
    &_1{
        img{
            width: 80%;
            @media (max-width: 780px) {
                width: 100%
            }
        }
    }

    &_2{
        img{
            height: 28rem;
            @media (max-width: 780px) {
                width: 100%
            }
        }
    }
    
    @media (max-width: 780px) {
       flex-direction: column;
        margin-top: 2rem;
    }
}