.information{
    
    margin: 3rem;
    h3{
        font-size: 1.5rem;
        font-weight: 100;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 5rem;
        @media (max-width: 780px){
            text-align: center;
            margin-top: 2rem;
        }
        @media (max-width: 400px){
            margin: 1rem;
        }
    }
    &_description{
        display: flex;
        h2{
            font-size: 2.3rem;
            margin: auto;
            margin-right: 10rem;
            margin-left: 2rem;
            @media (max-width: 780px){
                margin: auto;
            }
            @media (max-width: 400px){
                margin: 1rem;
                margin-bottom: 2rem;
                font-size: 1.8rem;
            }
        }
        p{
            margin: auto;
            font-size: 1.2rem;
            margin-right: 2rem;
        }
        @media (max-width: 780px) {
            flex-direction: column;
            text-align: center;
           
            
        }
        @media (max-width: 400px){
            display: flex;
            margin: 1rem;
            font-size: 1rem;
            padding: 0;
            text-align: center;
        }
    }
    .cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .card{
           
            display: flex;
            height: 10rem;
            width: 80%;
            margin: auto;
            margin-top: 5rem;
            box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2) ;

            &-img{
              
                font-size: 5rem;
                color: $white;
                height: 5rem;
                background-color: $nova_yellow;
                margin: auto 1rem;
              
                border-radius: 5rem;
                @media (max-width: 400px){
                   
                    width: fit-content;
                    margin: 2rem auto;
                }
            }
            
            &-text{
                margin: auto;
                h4{
                    font-size: 1.2rem;
                    margin-bottom: 1rem;
                }
                @media (max-width: 400px){
                    margin-bottom: 2rem;
                }
            }

            @media (max-width: 400px){
                flex-direction: column;
                height: auto;
                text-align: center;
                
            }
        }
        @media (max-width: 780px){
            grid-template-columns: 1fr;
            margin-bottom: 2rem;
        }
    }
    @media (max-width: 780px){
        margin: auto;
    }
   
}